img {
    height: 400px;
  
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f300;
    margin: 0;
    padding: 0;
}
header {
  text-align: center;
  background-color: #435058;
  color: #fff;
  padding: 30px;
}
main {
  max-width: 1400px;
  margin: auto;
  padding: 30px 200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.subheader{
  font-style: italic;
  font-size: 25px;
}
.intro {
  background-color: rgb(113, 164, 211);
  padding: 30px;
}
.main-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color: rgb(83, 69, 69);
  margin: 20px;
}
.bald-idea{
  background-color: #3e7480;
  font-weight: bold;
  margin: 20px;
  padding: 1%;
}
.text-more {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  color: rgb(136, 57, 57);
  margin: 20px;
}
.footer-element {
  padding: 15px;
}

/* как применить стиль сразу к нескольким классам */
